# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Datasets (keep local only)
datasets/

# Trained Models
models/*.pt
models/*.pth
models/*.onnx

# Vector Database
*.faiss
*.index

# Logs
logs/

# Output Images
backend/app/vision/outputs/

# VS Code
.vscode/